#wpadminbar #wp-admin-bar-editor-menu {
    margin-right: 10px;
}
#wpadminbar #wp-admin-bar-editor-menu span.ab-label {
    font-weight: 500;
}

#wpadminbar #wp-admin-bar-editor-menu span.ab-label.status-unsync {
    color: orange;
}
#wpadminbar #wp-admin-bar-editor-menu span.ab-label.status-sync {
    color: greenyellow;
}

#wpadminbar #wp-admin-bar-editor-menu span.ab-icon:before {
    content: "\f503";
    top: 2px;
    color: orange;
}
#wpadminbar #wp-admin-bar-editor-menu span.ab-icon.status-unsync:before {
    color: orange;
}
#wpadminbar #wp-admin-bar-editor-menu span.ab-icon.status-sync:before {
    color: greenyellow;
}

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label.status-unsync {
    color: orange;
}
#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label.status-sync {
    color: greenyellow;
}

.version-dashboard {
    position: relative;
    max-width: 1100px;
}

.version-dashboard .error-message {
    margin: 20px;
    padding: 10px;
    color: red;
    border: 1px solid red;
}

.version-dashboard .notice {
    margin-top: 15px;
}

.version-dashboard .branch-name {
    margin-left: 10px;
    font-weight: 700;
    color: #3a9962;
}

.version-dashboard .button-sync {
    
    font-size: 9px;
    text-align: center;
}
@media only screen and (min-width: 780px) {
    .version-dashboard .button-sync {
        position: absolute;
        right: 5px;
        top: 5px;
    }   
}

.version-dashboard .repo-config {
    margin: -20px 5px 0;
    font-size: 10px;
    line-height: 10px;;
}

.version-dashboard .table-content {
    overflow-x:auto;
}



.table {
    width: 600px;
    color: #212529;
}
@media only screen and (min-width: 780px) {
    .table {
        width: 100%;
    }   
}

.table .center {
    text-align: center;
}
.table .date {
    min-width: 110px;
}

.table th,
.table td {
    padding: 3px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: gainsboro;
    font-size: 0.9em;
}

.table tbody + tbody {
    border-top: 2px solid #dee2e6;
}


.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    text-decoration: none;
}
.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
    cursor: pointer;
}


.w-100 {
    width: 100px;
}
.w-120 {
    width: 120px;
}
.w-200 {
    width: 200px;
}